    {% extends "inicio/encabezado.html" %}
    {% block titulo %} HOME {% endblock  %}
    {% block imagen %}
        {% load static %}
        {% static 'inicio/images/home.png' %}
    {% endblock  %}
    {% block  text%}Principal {% endblock  %}
    {% block  snap%}DSM{% endblock  %}
    {% block  subtitulo%}
    <div class="page-header">
        <div class="page-title">
            <h3>Alumnos
            <small>Lista de Alumnos </small></h3>
        </div>
    </div>
    {% endblock  %}
        {%block nav%} 
        
        {% endblock %}
    {%block contenido%}
    {%endblock%}